<div class="dashboard-scroll">
  <div class="status-header">
    <span class="badge">Centro de IA FASA</span>
    <h2>Mural Recente</h2>
  </div>

  <!-- <div class="list-container">
    @for (item of informativos(); track item.id) {
      <div class="info-card">
        <div class="indicator" [class]="item.relevancia"></div>
        <div class="card-body">
          <small>{{ item.categoria }}</small>
          <h3>{{ item.titulo }}</h3>
          <p>{{ item.resumo }}</p>
        </div>
      </div>
    } @empty {
      <div class="empty-state">
        <p>O mural está vazio.</p>
        <span>Use a câmera para começar.</span>
      </div>
    }
  </div> -->
</div>
