<div class="upload-wrapper">
  <!-- ESTADO 2: PROCESSANDO A IMAGEM -->
  @if (imagePreview()) {
    <div class="processing-state">
      <div class="image-frame">
        <img [src]="imagePreview()" alt="Preview do Informativo" class="scanned-image">
        <!-- Div responsável pelo feixe de luz animado -->
        <div class="scanner-line"></div>
      </div>
      <div class="loading-info">
        <span class="material-icons rotating">autorenew</span>
        <h3>Extraindo dados com IA...</h3>
        <p>O LangGraph está processando a imagem.</p>
      </div>
    </div>
  }
  <!-- ESTADO 1: AGUARDANDO CAPTURA -->
  @else {
    <div class="capture-state">
      <div class="icon-glow-wrapper">
        <span class="material-icons massive-icon">document_scanner</span>
      </div>

      <div class="text-content">
        <h2>Colecionador de Murais</h2>
        <p>Alinhe o mural informativo e tire uma foto nítida.</p>
      </div>

      <div class="action-buttons">
        <input type="file" #camInput (change)="onFileSelected($event)" accept="image/*" capture="environment" hidden>

        <!-- Reutilizamos o botão primário do Design System -->
        <button class="tech-btn-primary" (click)="camInput.click()">
          <span class="material-icons">photo_camera</span>
          <span>Selecionar Foto</span>
        </button>
      </div>
    </div>
  }
</div>
